[submodule "Libraries/doctest"]
	path = Libraries/doctest
	url = https://github.com/onqtam/doctest
[submodule "Libraries/entt"]
	path = Libraries/entt
	url = https://github.com/skypjack/entt
[submodule "Libraries/SFML"]
	path = Libraries/SFML
	url = https://github.com/SFML/SFML
[submodule "Libraries/stb"]
	path = Libraries/stb
	url = https://github.com/nothings/stb
